<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a asp-action="PhoneAdd" class="btn btn-primary my-2">Add phone form</a>
                    <a asp-action="ShoppingCart" class="btn btn-secondary my-2">Shopping cart</a>
                </p>
            </div>
        </div>
    </section>

    @if(true)
    {
        <div class="album py-5 bg-body-tertiary">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    @foreach (var phone in Model.Phones)
                    {
                        <div class="col">
                            <div class="card shadow-sm">

                                <div style="">
                                    <img class="img-thumbnail" src="@phone.PhoneLink" alt="@phone.Name" />
                                </div>

                                <div class="card-body">
                                    <h2 class="text-start">@phone.Name</h2>
                                    <p class="card-text">@phone.Information</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                        </div>
                                        <small class="text-body-secondary">$@phone.Price</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-4">
                        <div class="card-body text-center p-5">

                            <p>We don't have any phones available yet</p>

                            @foreach(var phone in Model.Phones)
                            {
                                <p>@phone.PhoneLink</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</main>